@page "/weather"
@attribute [StreamRendering]
@using WeatherBlazor.Components.WeatherComponents

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<WeatherComponent />

@code {

}
